# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# production
build

# misc
.DS_Store
npm-debug.log
.dockerignore
neo4j/data/databases
neo4j/data/dbms
system-containers/neo4j/data/databases
system-containers/elasticsearch/data
data-migration
neo4j/data/databases
neo4j/data/dbms
